:root {
    --preto: #000000;
    --cinza-escuro: #141414;
    --cinza-claro: #f5f5f5bb;
    --branco: #ffffff;
}

.logo img {
    height: 100px;
    width: auto;
}

body {
    margin: 0; 
    background-color: var(--cinza-escuro);
    color: var(--cinza-claro);
    font-family: "Oswald", sans-serif;
}


header {
    background-color: var(--cinza-escuro);
    padding-left: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav {
    background-color: var(--cinza-escuro);
    display: flex;
    padding-right: 25px;
    gap: 25px;
}
nav a {
    color: var(--cinza-claro);
    text-decoration: none;
    transition: 0.3s;
}
nav a:hover {
    color: var(--branco);
    text-decoration: underline;
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 150px;
    padding-left: 120px;

    min-height: 76vh;
}
.hero h1 {
    color: var(--branco);
    font-family: "Oswald", sans-serif;
    font-size: 70px;
    font-weight: 800;
    line-height: 0.9;
    gap: 2px;
    margin-bottom: 30px;
}
.hero h2 {
    color: var(--cinza-claro);
    font-size: 23px;
    margin-bottom: 0px;
}


.hero-button-1 {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    transition: 0.2s;
    background-color: var(--branco);
    color: var(--preto);
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
}
.hero-button-1:hover {
    transform: scale(1.1);
}
.hero-button-2 {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    transition: 0.2s;
    background-color: transparent;
    color: var(--branco);
    border: 2px solid var(--branco);
    padding: 20px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
}
.hero-button-2:hover {
    transform: scale(1.1);
}
.hero-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    gap: 20px;
}

footer {
    background-color: var(--cinza-escuro);
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

.diferenciais {
    background-color: var(--cinza-claro);
    padding: 80px 120px;
}

.diferenciais-titulo {
    text-align: center;
    color: var(--preto);
    font-size: 50px;
    margin-bottom: 50px;
    
}

.cards {
    display: flex;
    font-size: 26px;
    gap: 50px;
    max-width: 1500px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.card {
    flex: 1;
    text-align: center;
    border-top: 3px solid var(--preto);
    border-bottom: 3px solid var(--preto);
    padding: 50px;

    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-8px) scale(1.1);
}

.card h2 {
    color: var(--preto);
    letter-spacing: 3px;
    font-size: 34px;
    margin-bottom: 25px;
}

.card p {
    color: var(--cinza-escuro);
    max-width: 300px;
    line-height: 1.6;
    margin: 0 auto;
}


.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 120px;
    gap:90px;
}

.texto-sobre {
    display: flex;
    text-align: center;
    padding-top: 35px;
    justify-content: flex-end;
    font-size: 26px;
    line-height: 1.5;
    border-top: 3px solid var(--cinza-claro);
    border-bottom: 3px solid var(--cinza-claro);
    padding: 30px;
}

.sobre-logo img {
    max-width: 350px;
}

.contato {
    background-color: var(--cinza-claro);
    padding: 90px 150px;
}

.contato-cards {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.contato-card {
    width: 300px;
    padding: 30px;

    text-align: center;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.contato-card:hover {
    transform: translateY(-8px);
    background-color: #2d2d2d
}

.contato-card-whatsapp {
    color: var(--branco);
    background-color: var(--cinza-escuro);

    border-radius: 10px;

    transition: .3s;
}
.contato-card-instagram {
    color: var(--branco);
    background-color: var(--cinza-escuro);

    border-radius: 10px;

    transition: .3s;
}

.contato-card img {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.contato-card h3 {
    margin: 15px 0 10px;
    font-size: 26px;
}

.contato-card p {
    margin: 0;
    margin-top:18px;
    font-size:18px;
    font-weight:600;
}

.titulo-contato {
    text-align: center;
    font-size: 45px;
    color: #141414;
    margin-bottom: 1px;
}

.subtitulo-contato {
    text-align: center;
    color: #2d2d2d;
    font-size: 20px;
    margin-bottom: 50px;

}

.titulo-contato::before{
    content:"";
    display:block;
    width:100px;
    height:3px;
    background:#141414;
    margin:0 auto 20px;
}


.contato-card p:last-child{
    transition:.3s;
}
.contato-card:hover p:last-child{
    transform:translateX(5px);
}
